html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    font-family: sans-serif;
    font-size: 0.938rem;
    color: black;
    line-height: 1.6;
}
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color:#606060;
}
.section{
    padding: 3rem 0;
}
.section-title{
    font-size: 50px;
    color: #606060;
    margin: 2rem 0 0.5rem;
    text-align: center;
}
.section-all{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #606060;
    text-align: center;
    margin-bottom: 1rem;
}
.bd-grid{
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
        margin-left: auto;
        margin-right: auto;
}
header{
    width: 100%;
    position: fixed;
    margin-bottom: 0px;
    top: 0;
    left: 0;  
    z-index: 100;
    background-color: lightgray;
    box-shadow: 4px 4px 4px #e9e6e6;
}
.nav{
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    
}
.nav-logo img{
    width: 60px;
    height: 60px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
    cursor: pointer;
}
.nav-toggle span{
    font-size: 1.5rem;
    margin-right: 1rem;
    display: flex;
    cursor: pointer;
}
.home{
    margin-top: 100px;
}
.home-container{
    height: 100vh;
}
.home-data{
     padding: 0;
        height: max-content;
        align-self: center;
        padding-left: 7rem;
}
.home-title{
    color: aliceblue;
    align-self: center;
    font-size: 3rem;
    margin-bottom: 4rem;
    line-height: .8;
        letter-spacing: 1.5rem;
}
.home-title span{
    font-size: 1.5rem;
}
.button{
    display: inline-block;
    background-color: skyblue;
    color:white;
    padding: 1rem;
    font-size: .75rem;
    font-weight: 600;
    transition: .3s;
}
.button:hover{
    background-color: #D2321E;
    text-decoration: none;
    color: white;
}
.collection-container{
    margin-top: 100px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
}
.men-collection-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
        padding: .5rem 3rem 0;
        transition: .3s;
}
.women-collection-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
        padding: .5rem 3rem 0;
        transition: .3s;
}

.men-collection-box:hover{
    transform: translateY(-.5rem);
}
.women-collection-box:hover{
    transform: translateY(-.5rem);
}
.collection-title{
    color: white;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}
.collection-data span{
    color:dodgerblue;
    font-weight: 700;
}
.collection-subtitle{
    color: white;
    font-size: 1.25rem;
    color: #606060;
}
.collection-view{
    font-size: 1.2rem;
    color: white;
}
.collection-view:hover{
    text-decoration: none;
    color: crimson;
}
.featured{
    margin-top: 150px;
}
.featured-container{
    margin-top: 100px;
   grid-template-columns: repeat(4,1fr);
}
.featured-product{
    transition: .3s;
}
.featured-product:hover{
    transform: translateY(-.5rem);
}
.featured-box{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}
.featured-img{
        padding: 20px;
        width: 200px;
        height: 200px;
    }
.featured-new{
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    padding: .3rem .75rem;
    font-size: .75rem;
}
.featured-data{
    text-align: center;
}
.featured-name{
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: .938rem;
}
.featured-price{
    color: black;
    font-weight: 600;
}
a:hover{
    color: grey;
}
.offers{
    margin-top: 100px;
    margin-bottom: 100px;
}
.offer-bg{
    text-align: center;
}
.offer-data{
        padding: 5rem 0;
}
.offer-title{
    font-size: 50px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: aliceblue;
}
.offer-desc{
    margin-top: 20px;
    margin-bottom: 1rem;
    letter-spacing: .2rem;
    font-size: 20px;
    color: azure;
}
.new-container{
        grid-template-columns: repeat(3,1fr);
    margin: 0px 250px;
    }
.new-arrival{
    width: 100%;
    height: 1000px;
    margin-bottom: 30px;
    text-align: center;
}

.new-box{
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    overflow: hidden;
    margin: 20px 20px 20px 20px;
}

.new-link{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(229, 89,71,0.6);
    transition: 0.6s;
}
.new-img{
    height: 400px;
    width: auto;
}

.new-box:hover .new-link{
    bottom: 0;
}
.button1{
    display: block;
    background-color: rgba(252, 96, 6,0.8);
    padding: 20px 20px;
    color: white;
    border-radius: 2px;
}
.button1:hover{
    text-decoration: none;
    color: white;
    background-color: rgba(252, 96, 6,0.9);
}
.sponser{
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
   text-align: center;
   padding: 50px 20px;
}
#newsletter{
    color:rgb(32, 32, 32);
}

.sponsored-imgs{
    padding:100px 100px 0px 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap:150px;
}

.sponsored-img{
 height: 100px;
}

#email{
    margin-top: 25px;
    height: 40px;
    width: 250px;
    border: none;
    background-color:rgb(241, 236, 236);
}
.subscribe{
    color: white;
    background-color: rgb(252, 96, 6);
    padding: 6px 20px;
    border: 2px solid  rgb(252, 96, 6);
    outline:none;
}
.subscribe:hover{
    background-color:rgb(94, 88, 88);
    color: white;
    border: 2px solid rgb(94, 88, 88);
}
.footer {
    padding: 50px 0 20px 0;
    background-color: #35404f;
    color: #878c94;
}
.footer .footer-logo
{
    width: 100px;
    padding: 10px;
}
.footer-para{
    margin-top: 15px;
    margin-bottom: 20px;
}
.footer i:hover{
    color: cyan;
    transform: scale(1.4,1.4);
    transition: .3s;
}
.footer .social-icon
{
    padding:0px;
    margin:0px;
}
.footer .social-icon a
{
    display:inline-block;
    color:#fff;
    font-size:25px;
    padding:5px;
}
.footer .account-icon a
{
    display:block;
    color:#fff;
    font-size:18px;
    padding:5px;
    text-decoration:none;
}
.footer .account-icon .bx
{
    margin-right:25px;
}


.footer .cat {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:50px;
    margin-top: 6px;
    background-color: white;
    border: solid 1px #fff;
}
.cat:hover{
    color: black;
    background-color: white;
}

.footer .payment
{
    margin:0px;
    padding:0px;
    list-style-type:none;
}
.footer .payment li
{
    list-style-type:none;
}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}

    
